.side-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #111;
    color: white;
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 999;
}

.side-menu.open {
    right: 0;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin: 20px 0;
}

.side-menu a {
    color: var(--grey-02);
    text-decoration: none;
    font-size: 18px;
}

.menu-close-btn {
    font-family: Arial, Helvetica, sans-serif !important;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    margin-top: -10px;
}

.side-menu .logo {
    margin-bottom: 20px;
    left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}

.side-menu .logo img {
    height: 30px;
}

body.shifted main {
    transform: translateX(-300px);
    transition: transform 0.3s ease;
}

body.shifted header {
    transform: translateX(-300px);
    transition: transform 0.3s ease;
    position: fixed;
    width: 100vw;;
    z-index: 998;
}



body main,
body header {
    transition: transform 0.3s ease;
}