


:root {
  --red-01: #f84836;
  --red-02: #db291c;
  --grey-01: #646671;
  --brown-01: #5e5441;
  --white: #fefefe;
  --black: #131313;
  --darkblack:#000000;
  --orange-02: #C22023;
  --orange-01: #EB473B;
  --purple-01: #7B70E4;
  --yellow-01: #FFBE36;
}

